@import "tailwindcss";

@source "./**/*.{ts,tsx}";
@source "../public/**/*.html";

@layer base {
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    @apply antialiased;
    height: 100%;
    overflow: hidden;
  }
}

@layer components {
  /* HTMX loading state */
  .htmx-request .hx-ready {
    display: none !important;
  }
  
  .hx-loading {
    display: none;
  }
  
  .htmx-request .hx-loading {
    display: inline-flex !important;
  }
}
